.biq-box-content{
    width:750px;
    position: relative;
    &.right{
        float:right;
        margin-right: 0.5rem;
    }
    &.left{
        float:left;
        margin-left: 0.5rem;
        overflow:hidden;
    }
}
