/* 
    Created on : Jan 6, 2017, 9:19:19 PM
    Author     : BIQDev.com <bayucandra@gmail.com>
*/
.biq-widgets.footer-short-description{
    overflow: auto;
    padding-top: 0;
    @include box-sizing(border-box);
    h4{
        margin: 0 0 -0.5rem 0;
    }
    ul{
        padding-left: 10px;
    }
}
