.biq-widgets{
    &.menu-main{
        min-height:5rem;
        font-size:1em;
        overflow:visible;
        z-index:30;
        &.left{
            float:left;
            margin-left: 1rem;
        }//&.left
        &.right{
            float:right;
            margin-right: 0.5rem;
        }//&.right
        input[type=checkbox]{
            display: none;
        }//input[type=checkbox]
        label{
            &.show-menu-main{
                font-weight:bold;
                text-decoration: none;
                text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.6);
                color: #fff;
                background: $primary-blue-dark;
                text-align: center;
                padding: 0 10px;
                display: none;
            }//.show-menu-main
        }//label
        > ul{
            list-style-type: none;
            margin:0;
            padding:0;
            position:relative;
            overflow:visible;
            li{
                display:inline-block;
                float:left;
                position:relative;
                margin-right:1px;
                overflow:visible;
                &:hover{//link wrapper dropdown============
                    ul{
                        width:190px;
                        margin:0 0 0 -10px;
                        padding:10px;
                        position:relative;
                        overflow:auto;
                        background-color: rgba(0,0,0,0.5);
                    }//ul
                }//&:hover
            }//li
            > li{
                > a{
                    transition: background-color 0.5s ease;
                    display:block;
                    min-width:110px;
                    height:100%;
                    text-align: center;
                    line-height:70px;
                    color:#000000;
                    text-decoration:none;
                }// > a
                &.current-menu-item{
                    > a{
                        color:#328cc1;
                    }
                }// &.current-menu-item
                &.current-menu-item:before, &.current-menu-ancestor:before{//Menu Parent Active & Hover==============
                    content:"";
                    display:block;
                    position:absolute;
                    width:100%;
                    height:2px;
                    background:#00a6db;
                    border-top:$primary-blue-dark 1px solid;
                    border-bottom:$primary-blue-light 1px solid;
                }//
                &:hover{
                    > a{
                        color:#ffffff;
                        background-color:#05c2ff;
                        font-weight: bold;
                    }//a
                    ul{
                        a:hover{
                            text-decoration:underline;
                        }//a:hover
                    }//ul
                }//&:hover
                ul{
                    display:none;//Hide dropdown links until they are needed====================
                    a{//dropdown links style===================
                        font-size:0.95em;
                        width:auto;
                        text-align: left;
                        padding:6px 0 6px 3px;
                        border-bottom:#05c2ff;
                        display:block;
                        text-decoration:none;
                        color:#FFF;
                    }//a
                    li{//Make dropdown links vertical=========================
                        display:block;
                        float:none;
                    }
                }//ul
                a:hover + .sub-menu{//Display dropdown on hover================
                    display:block;
                    position:absolute;
                    z-index: 25;
                }//a:hover + .sub-menu============
            }// > li
        }// > ul
        .sub-menu:hover{//Display dropdown on hover=====================
            display:block;
            position:absolute;
            z-index: 25;
        }
    }//&.menu-main
}//.biq-widgets

/*Prevent text wrapping*/
/*
.biq-widgets.menu-main li ul li a{
    width:auto;
    padding:0 10px;
}
*/
/*Display dropdown on hover*/
/*.biq-widgets.menu-main > ul > li a:hover + .sub-menu, .biq-widgets.menu-main .sub-menu:hover{
    display:block;
    position:absolute;
    z-index: 25;
}*/
