.biq-widgets{
    &.post-feed{
        > .box{
            overflow: auto;
            display: block;
            outline: none;
            border: 0;
            &.circle{
                min-height: 50px;
                > div{
                    float: left;
                }
                .thumbnail-wrapper{
                    &:first-child{
                        width: 64px; height: 64px;
                        margin: 5px;
                        border-radius: 50%;
                        border: 2px solid #FFFFFF;
                        background-position: center center;
                        box-shadow: 0 0 2px 1px rgba(black, 0.2);
                    }//&:first-child
                }//.thumbnail-wrapper
                .content-wrapper{
                    h4{
                        margin: 8px 0 0 3px;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }//.content-wrapper
            }//&.circle
        }//> .box
    }//&.category-list
}//.biq-widgets
