.biq-widgets{
    &.post-feed{
        > .box{
            margin-bottom: 5px;
            overflow: auto;
            display: block;
            outline: none;
            border: 0;
            &.circle{
                min-height: 50px;
                > div{
                    float: left;
                }
                .thumbnail-wrapper{
                    &:first-child{
                        width: 64px; height: 64px;
                        margin: 5px;
                        border-radius: 50%;
                        border: 2px solid #FFFFFF;
                        background-position: center center;
                        box-shadow: 0 0 2px 1px rgba(black, 0.2);
                        background-size: cover;
                    }//&:first-child
                }//.thumbnail-wrapper
                .content-wrapper{
                    max-width: 160px;
                    margin-left: 3px;
                    color: $steel-grey;
                    h4{
                        margin: 8px 0 0;
                        font-size: 1rem;
                        font-weight: bold;
                        color: $primary-blue;
                    }
                }//.content-wrapper
            }//&.circle
        }//> .box
        
        > a.box{
            &:hover{
                background-color: $bg-grey-light;
            }//&:hover
        }//> .box
        
    }//&.post-feed
    &.post-feed[data-staggered="true"]{
        > .box{
            &:nth-child(even){
                .thumbnail-wrapper{
                    float: right;
                }
                .content-wrapper{
                    text-align: right;
                }
            }
        }
    }
}//.biq-widgets
