.biq-widgets{
    &.category-list{
        list-style-type: none;
        margin:0;
        padding:0 0 0 3px;
        position:relative;
        overflow:visible;

        > li > a{
            line-height: 30px;
            clear: both;
            display: block;
            padding: 0 15px;
            color: #444444;
            text-decoration: none;
            position: relative;
        }
        > li > a:hover{
            background-color: #f2f2f2;
        }
        > li > a:after{
            display:none;
            content:"";
            background-color: #ff8d41;
            width:5px; height:100%;
            position:absolute;
            top:0; left:0;
        }
        > li > a:hover:after{
            display:block;
        }
        > li.active > a{
            background-color: #f5f5f5;
        }
        > li.active > a:after{
            display:block;
            background-color: #ffc2ab;
        }
    }//.category-list
}//.biq-widgets

