/* 
    Created on : May 23, 2016, 11:19:13 AM
    Author     : Bayu Candra <bayucandra@gmail.com>
*/

#biq-sns-be-main{
    width:100%;
    margin: 2rem 0 0 -1%;
    overflow:visible;
    position:relative;
}
#biq-sns-be-main .header{
    overflow:auto;
}
#biq-sns-be-main .biq-body{
    margin: 0.7rem 0 0 0;
    background-color: #FFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    min-height: 500px;
    position:relative;
}
/*BEGIN DIALOGS*/
.md-dialog-container{
    z-index: 100000;
}
.bdialog-toolbar{
    height:50px;
}
.bdialog-toolbar h2{
    color: rgba(255, 255, 255, 0.87);
}
md-toolbar{
    min-height:50px;
}
.md-toolbar-tools{
    height:50px;
}
h2.template-not-found{
    padding: 1rem 0.5rem;
}
