@import "layout/content";
@import "layout/sidebar";
.biq-table{
    display:table;
}
.biq-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.biq-header{
    overflow:visible;
}
.biq-header .line-top{
    background-color:#f2f2f2;
}
.biq-footer{
    background-color:#f2f2f2;
    padding: 1rem 0;
    margin-top: 1rem;
}
.biq-footer .column{
    width: 33%;
    padding: 0.5rem 1rem;
    @include box-sizing(border-box);
    @include breakpoint($break-xs){
        width: 50%;
    }
    @include breakpoint(max-width 480px){
        width: 100%;
    }
}
