@import "layout/content";
@import "layout/sidebar";
.biq-table{
    display:table;
}
.biq-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.biq-header{
    overflow:visible;
}
.biq-header .line-top{
    background-color:$bg-grey-lighter;
}
.biq-footer{
    background-color:$bg-grey-lighter;
    padding: 1rem 0;
    margin-top: 1rem;
    /*box-shadow: 0 -2px 1px 0 rgba(black, 0.1);*/
    border-top: 1px solid lighten($primary-blue, 10);
    box-shadow: 2px 2px 5px 0 rgba(black, 0.4);
}
.biq-footer .column{
    @include box-sizing(border-box);
    width: 100%;
    float: left;
    @include breakpoint($break-lt-xs){
        width: 50%;
        padding: 0.5rem 1rem;
    }
    &:first-child{
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
    }
    &.right{
        float: right;
    }
}
