@import "widget/category-list";
@import "widget/heading-section";
@import "widget/logo";
@import "widget/menu-main";

.biq-widgets .widget-not-ready{
    display: none;
}

a.biq-widgets.contact-email-simple{
    width : 250px;
    float : left;
    padding : 5px 5px 5px 0;
}

a.biq-widgets.contact-email-simple > * {
    height: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    position: relative;
}
a.biq-widgets.contact-email-simple > div {
    float : left;
}
a.biq-widgets.contact-email-simple .icon{
    float : left;
    width : 21px;
}
a.biq-widgets.contact-email-simple .text{
    margin-left: 5px;
    color : #666666;
}