@import "compass";

@import "susy";
@import "breakpoint";

/*@import "../lib/normalize.css";*/

@import "include/variable";
@import "include/mixin";

$susy:(
    container: $width-content,
    gutters: 1/4,
    gutter-position: inside
);
@import "main";
@import "layout";
@import "widget";
@import "woocommerce";

@import "lib/biq-slider";
@import "../lib/font-awesome-4.6.3/scss/font-awesome";