ul{
    &.biq-products{
        list-style: none;
        list-style-type: none;
        position:relative;
        overflow:auto;
        padding:0;
        li{
            &.product{
                position: relative;
                list-style: none;
                display: inline-block;
                box-sizing: border-box;
                height: 350px;
                overflow: hidden;
                text-align: center;
                a{
                    display:block;
                    position: relative;
                    img.wp-post-image{
                        width: 100%;
                        height: auto;
                    }
                    .onsale{
                       position: absolute;
                       top:0;left:0;
                    }
                }
                /*width: <?php echo floor( 100/$biq_sns_settings['woocommerce']['loop_shop_columns'] *100) / 100;?>%;*/
            }
        }
        &.col-3{
            @include container( 100% );
            li{
                &.product{
                    @include span(4 of 12 (gutter-position: after));
                }
                &.last{
                    @include span(4 of 12 last (gutter-position: after));
                }
            }
        }
    }
}

