.woocommerce{
    table.cart{
        width: 100%;
        $border: lighten( $secondary-inactive, 40 );
        border-spacing: 0;
        border: 1px solid $border;
            @include border-radius(3px);
        thead{
            background-color: #FAFAFA;
            @include border-top-right-radius(3px);
            @include border-top-left-radius(3px);
            th{
                padding: 10px;
                border-right: 1px solid $border;
                border-bottom: 1px solid $border;
                &.product-subtotal{
                    border-right: 0;
                }
            }
        }//thead
        tbody{
            td{
                padding: 10px;
                &.product-remove{
                    a{
                        color: darken( red, 10 );
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                &.product-thumbnail{
                    a{
                        text-align: center;
                        display: block;
                        overflow: auto;
                        img{
                            display: block;
                            margin: 0 auto;
                            width: auto; height: 60px;
                        }
                    }
                }//&.product-thumbnail
                &.product-name{
                    a{
                        text-decoration: none;
                        color: #444444;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                &.product-quantity{
                    text-align: center;
                    input[type="number"]{
                        width: 40px;
                    }
                }
                &.product-price, &.product-subtotal{
                    color: $primary-blue-dark;
                    text-align: right;
                }
            }//td
        }//tbody
    }//table.cart
}//.woocommerce