form.checkout.woocommerce-checkout{
    @include biq-form-style( $full-width-text: true, $line-height: 25px );
    color: #444444;
    .col-1{
        float:left; width: 50%;
        @include box-sizing(border-box);
        #billing_first_name_field{
            overflow: auto;
            width: 50%;
            float: left;
            @include box-sizing(border-box);
            padding-right: 2px;
        }
        #billing_last_name_field{
            overflow: auto;
            width: 50%;
            float: left;
            clear: right;
            padding-left: 2px;
            @include box-sizing(border-box);
        }
        #billing_company_field{
            clear:both;
        }
        .create-account{
            label{
                display: initial;
            }
        }
    }//.col-1
    .col-2{
        @include box-sizing(border-box);
        float:left;
        display: block;
        width: 50%;
        padding-left: 5px;
        .woocommerce-shipping-fields{
            @include box-sizing(border-box);
            padding: 0 5px;
            background-color: lighten(black, 95);
            input{
                background: #FFFFFF;
            }
            #order_comments_field{
                padding-bottom: 10px;
                #order_comments{
                    background: #FFFFFF;
                    width: 100%;
                    @include box-sizing(border-box);
                }
            }
            #ship-to-different-address{
                label{
                    display: initial;
                }
            }
            #shipping_first_name_field{
                overflow: auto;
                width: 50%;
                float: left;
                padding-right: 2px;
                @include box-sizing(border-box);
            }
            #shipping_last_name_field{
                overflow: auto;
                width: 50%;
                float: left;
                clear: right;
                padding-left: 2px;
                @include box-sizing(border-box);
            }
        }
    }
    #order_review_heading{
        clear:both;
    }
    #order_review{
        label{
            display: initial;
        }
    }//#order_review
}//form.checkout woocommerce-checkout