.woocommerce{
    form.login{
        background-color: lighten(black, 98);
        @include clearfix;
        @include biq-form-style( $full-width-text: true, $line-height: 25px );
        @include box-sizing(border-box);
        border-bottom: 2px solid $primary-blue-light;
        padding: 0 15px;
        margin-bottom: 20px;
        .form-row{
            width: 50%; float:left;
            @include box-sizing(border-box);
            padding: 0 2px;
        }
        .lost_password{
            a{
                color: $primary-blue-dark;
                text-decoration: none;
                &:hover{
                    color: $primary-blue-light;
                    text-decoration: underline;
                }
            }
        }
    }
    form.checkout_coupon{
        @include biq-form-style( $line-height: 25px );
    }
    form.checkout.woocommerce-checkout{
        @include biq-form-style( $full-width-text: true, $line-height: 25px );
        color: #444444;
        .col-1{
            float:left; width: 50%;
            @include box-sizing(border-box);
            #billing_first_name_field{
                overflow: auto;
                width: 50%;
                float: left;
                @include box-sizing(border-box);
                padding-right: 2px;
            }
            #billing_last_name_field{
                overflow: auto;
                width: 50%;
                float: left;
                clear: right;
                padding-left: 2px;
                @include box-sizing(border-box);
            }
            #billing_company_field{
                clear:both;
            }
            .create-account{
                label{
                    display: initial;
                }
            }
        }//.col-1
        .col-2{
            @include box-sizing(border-box);
            float:left;
            display: block;
            width: 50%;
            padding-left: 5px;
            padding-right: 3px;
            .woocommerce-shipping-fields{
                @include box-sizing(border-box);
                padding: 0 5px;
                background-color: lighten(black, 98);
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
                #order_comments_field{
                    padding-bottom: 10px;
                    #order_comments{
                        background: #FFFFFF;
                        width: 100%;
                        @include box-sizing(border-box);
                    }
                }
                #ship-to-different-address{
                    label{
                        display: initial;
                    }
                }
                #shipping_first_name_field{
                    overflow: auto;
                    width: 50%;
                    float: left;
                    padding-right: 2px;
                    @include box-sizing(border-box);
                }
                #shipping_last_name_field{
                    overflow: auto;
                    width: 50%;
                    float: left;
                    clear: right;
                    padding-left: 2px;
                    @include box-sizing(border-box);
                }
            }
        }
        #order_review_heading{
            clear:both;
        }
        #order_review{
            label{
                display: initial;
            }//label
            table.woocommerce-checkout-review-order-table{
                font-size: 16px;
                border-spacing : 0;
                border: 1px solid lighten(black, 90);
                thead{
                    text-transform: uppercase;
                    background-color: lighten(black, 95);
                }
                th,td{
                   padding: 10px 5px;
                   border-bottom: 1px solid lighten(black, 95);
                   border-right: 1px solid lighten(black, 95);
                }
                .product-name{
                    width: 250px;
                    text-align: left;
                }
                .product-total{
                    width: 100px;
                    text-align: right;
                }
                tfoot{
                    background-color: lighten(black, 98);
                }
                .amount{
                    float: right;
                }
            }//table.woocommerce-checkout-review-order-table
            .woocommerce-checkout-payment{
                ul{
                    list-style: none;
                    padding: 0;
                }
            }
        }//#order_review
    }//form.checkout woocommerce-checkout
}//.woocommerce