.biq-box-content{
    width: 100%;
    @include breakpoint($break-sm){
        width: $width-content;
        position: relative;
        &.right{
            float:right;
        }
        &.left{
            float:left;
            overflow:hidden;
        }
    }
}
