.biq-box-content{
    width: $width-content;
    position: relative;
    &.right{
        float:right;
    }
    &.left{
        float:left;
        overflow:hidden;
    }
    @include breakpoint($break-sm){
        width: 100%;
    }
}
