.biq-box-sidebar{
    
    @include flex-direction(column);
    .biq-box-wrapper{
        @include flex(0 1);
    }
    @include breakpoint($break-xs){
        clear: both;
        width: 100%;
        @include display-flex;
        @include flex-direction(row);
        .biq-box-wrapper{
            margin: 10px;
            @include flex(1 0);
        }
    }
    
    @include breakpoint($break-sm){
        display: block;
        clear: none;
        position:relative;
        width: $width-sidebar;
        &.right{
            float:right;
        }
        &.left{
            float:left;
        }
        
        .biq-box-wrapper{
            margin: 0;
        }
    }
}
