$width-content : 750px;
$width-sidebar : 250px;

$primary-blue-dark     : #1f8fb4;
$primary-blue-light    : #00a6db;

$primary-yellow-light : #ffc2ab;
$primary-yellow-dark : #ff8d41;

$secondary-contrast: #444444;
$secondary-inactive : lighten( black, 50 );

$break-lt-xs : max-width 639px;
$break-xs : max-width 640px;
$break-sm : max-width 980px;
