.section-left{
    color:#666666;
    position:relative;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0;
    border-bottom: 1px solid #999999;
    font-size:18.7167px;
    
    &.highlight-default::after{
        position:absolute;
        display:block;
        height:3px;
        background-color:#113481;
        content:"";
        bottom:-1px; left:0;
        width: 80px;
    }
    &.highlight-red::after{
        position:absolute;
        display:block;
        height:2px;
        background-color:#df1f26;
        content:"";
        bottom:-1px; left:0;
        width: 80px;
    }
}

